# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
nicl
finc/finc
minficl
main
softcore/makesoftcore
anise/anise
tools/chafn
tools/colior
tools/cvtdec
tools/dirtree
tools/dump
tools/duop
tools/ffc
tools/frob
tools/gflow
tools/hls
tools/pjoin
tools/rdate
tools/rname
tools/scanet
tools/tag311
tools/talknet
tools/wst

# Packages
*.deb
*.opk

.c9revisions
.settings
*.c~
.gdb_history
*.swp
.*-swp
.c9
html
latex
